# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key
TRELLO_SERVER_TOKEN=SET_IN_DOT_ENV
TRELLO_API_KEY=SET_IN_DOT_ENV
TRELLO_BOARD_ID=SET_IN_DOT_ENV